<h1> Results</h1>
<ul>
  <% for result in @drugs["PC_AssayContainer"] do %>
    <li>
    <%= result["assay"]["descr"]["description"] %>
	</li>
   <li>
    <%= result["assay"]["descr"]["aid"]["id"] %>
   </li>
   <br/>
   <% end %>
</ul>