<h1>Search page</h1>

<div><%= form_tag(@drugs, method: "get") do |f| %>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag "Search", :term => nil %>
	<% end %>
</div>
<br/>
<br/>
<div>

</div>
