<h1> Results</h1>
<ul>
  <% for assay in @assays do %>
    <li>
      <%= assay.description %>
	  </li>
    <li>
      <%= link_to assay.assay_id.to_string, drugs_index_path %>
    </li>
    <br/>
  <% end %>
</ul>
